/* BUTTONS **********************************************/
.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap:8px;
    position: relative;
    width:max-content;
    border-radius: 100px;
    cursor: pointer;
    padding: 15px 32px;
    font-size: var(--heading-xxs);
    font-weight:700;
    color:#fff;
    background-color: var(--cobalt-600);
    border:2px solid transparent;
    transition: 300ms;
    user-select: none;
}

.button.secondary {
    color: var(--cobalt-600);
    background-color: transparent;
    border-color: var(--cobalt-600);
}

.button.on-dark {
    color: var(--cobalt-600);
    background-color: #fff;
    border-color: transparent;
}

/* dcf3fa */

.button:hover {
    color:#fff;
    background-color: var(--cobalt-400);
}

.button.secondary:hover {
    color: var(--cobalt-400);
    border-color: var(--cobalt-400);
}

.button.on-dark:hover {
    color: var(--cobalt-600);
    background-color: var(--blue-100);
}

.button.inactive {
    color: var(--gray-500);
    background-color: var(--gray-300);
    cursor:default;
}

.button.small {
    padding: 6px 24px;
    font-size: 12px;
}

.button.secondary.icon {
    padding: 12px 32px;
}

.button svg {
    max-width:24px;
    max-height:24px;
    fill: #fff;
    transition: 300ms;
}

.button.secondary svg, .button.on-dark svg,
.button.secondary:hover svg, .button.on-dark:hover svg {
    fill: var(--cobalt-600);
}

.button:hover svg {
    fill: #fff;
}

.button.icon.small svg {
    max-width:16px;
    max-height:16px;
}

.button.icon.only {
    padding:0;
    width:40px;
    height:40px;
}

.button.icon.only.small {
    width:24px;
    height:24px;
}

.button.icon.right {
    flex-direction: row-reverse;
}


/* BUTTON GROUP **********************************************/
.button-group {
    display:flex;
}
.button-group .button {
    display:block;
    width:100%;
    padding:15px 24px;
    text-align: center;
    background-color:transparent;
    color:var(--cobalt-600);
    border:2px solid var(--cobalt-600);
    border-radius:0;
}

.button-group .button:first-child {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

.button-group .button:last-child {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.button-group .button + .button {
    border-left:none;
}

.button-group .button.active {
    background-color:var(--cobalt-600);
    border-color:var(--cobalt-600);
    color:#fff;
}

.button-group .button:hover {
    background-color:var(--cobalt-400);
    border-color:var(--cobalt-400);
    color:#fff;
}



/* ICON BUTTON **********************************************/
.icon-button {
    display:inline-flex;
    background-color:var(--cobalt-600);
    border-radius: 128px;
    cursor:pointer;
    transition: 500ms;
    padding:1.2rem;
    max-width:fit-content;
}

.icon-button svg {
    fill:var(--gray-000);
    width:2.4rem;
    height:2.4rem;
}

.icon-button.xl {padding:1.6rem}
.icon-button.xl svg {width:3.2rem;height:3.2rem;}

.icon-button.lg {padding:1.2rem}
.icon-button.lg svg {width:2.4rem;height:2.4rem;}

.icon-button.md {padding:0.8rem}
.icon-button.md svg {width:1.6rem;height:1.6rem;}

.icon-button.sm {padding:0.4rem}
.icon-button.sm svg {width:1.6rem;height:1.6rem;}

.dark .icon-button, .icon-button.light {background-color:var(--gray-200);}
.dark .icon-button svg, .icon-button.light svg {fill:var(--cobalt-600);}

.icon-button:hover {background-color:var(--cobalt-400);}
.dark .icon-button:hover, .icon-button.light:hover {background-color:var(--gray-000);}



/* STANDALONE LINK **********************************************/
.link {
    display:flex;
    align-items: center;
    gap:4px;
    color:var(--cobalt-600);
    font-size:var(--type-base);
    font-weight:700;
    transition:500ms;
    width:max-content;
    cursor: pointer;
}

.link svg {
    width:18px;
    height:18px;
    fill:var(--cobalt-600);
}

.link.sm {font-size:var(--type-sm);}
.link.xs {font-size:var(--type-xs);}

.link.sm svg, .link.xs svg {
    width:16px;
    height:16px;
}

.link:hover {
    gap:8px;
    color:var(--cobalt-600);
    text-decoration: none;
}


/* CHICLETS **********************************************/
.chiclet {
    display:flex;
    justify-content: center;
    align-items: center;
    width:96px;
    height:96px;
    padding:2.4rem;
    background-color:var(--gray-000);
    border-radius: 1.6rem;
    border:1px solid var(--gray-300);
    cursor: pointer;
}

.chiclet > div, .chiclet > div svg {
    max-width:48px;
    max-height:48px;
}

.chiclet > div svg {fill:var(--gray-800);}


.chiclet.capacity {
    flex-direction: column;
    font-size:var(--heading-sm);
    font-weight:800;
    line-height: 1em;
    text-transform: uppercase;
}

.chiclet.capacity > div:last-child {color:var(--gray-600);}




/* CHECKBOX **********************************************/
.check {
    display:flex;
    gap:8px;
    align-items: center;
    cursor:pointer;
}

.checkbox {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width:24px;
    height:24px;
    background-color:#fff;
    border:1px solid var(--gray-600);
    border-radius: 4px;
    transition: 300ms;
    cursor:pointer;
}

.checkbox::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath class='svg-base' d='M5.67 13.37l-5-5 .7-.7L5.67 12l9-9 .7.71z' style='fill:white;' /%3E%3C/svg%3E ");
    width:16px;
    height:16px;
    opacity:0;
    transition: 500ms;
}

.check.active .checkbox {
    background-color:var(--cobalt-600);
    border:1px solid transparent;
}

.check.active .checkbox::after {
    opacity:1;
}




/* TOGGLE **********************************************/
.toggle {
    display:flex;
    align-items: center;
    gap:48px;
    font-size:var(--type-sm);
}

.toggle .switch {
    position: relative;
    width:34px;
    height:21px;
    margin-top:4px;
    background-color:var(--gray-500);
    border-radius:100px;
    position:relative;
    transition: 500ms;
    cursor:pointer;
}

.toggle .switch::before {
    content:'OFF';
    position:relative;
    left:-36px;
    text-transform: uppercase;
    color:var(--gray-700);
    font-weight:600;
}

.toggle .switch::after {
    position:absolute;
    content:"";
    top:2px;
    left:2px;
    width: 17px;
    height: 17px;
    background-color:#fff;
    border-radius:100px;
    transition: 500ms;
}

.toggle .switch.active{
    background-color:var(--cobalt-600);
}

.toggle .switch.active::before {
    content:'ON';
}

.toggle .switch.active::after {
    transform:translateX(13px);
}

.toggle .state {
    font-size:14px;
    text-transform: uppercase;
    color:var(--gray-700);
    font-weight:600;
}


/* SHAPED CONTAINER *********************************/
.shaped-container {
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:16px;
    transition: 500ms;
}

.shaped-container {
    border-radius:8px;
}

.shaped-container.circle {
    border-radius:100%;
}

/* SIZES */

.shaped-container.xl {width:128px;height:128px;}
.shaped-container.xl svg {width:64px;height:64px;}

.shaped-container.lg {width:96px;height:96px;}
.shaped-container.lg svg {width:48px;height:48px;}

.shaped-container.md {width:64px;height:64px;}
.shaped-container.md svg {width:32px;height:32px;}

.shaped-container.sm {width:48px;height:48px;}
.shaped-container.sm svg {width:24px;height:24px;}

.shaped-container.xs {width:32px;height:32px;}
.shaped-container.xs svg {width:16px;height:16px;}



/* FILLS */
.shaped-container.primary {
    background-color:var(--primary-blue);
}

.shaped-container.blue {
    background-color:var(--blue-200);
}

.shaped-container.white {
    background-color:var(--gray-000);
    border:1px solid var(--gray-300);
}

.shaped-container.gray {
    background-color:var(--gray-200);
}

.shaped-container.blank {
    background-color:var(--gray-200);
}



/* PICTOGRAM */
.pictogram, .pictogram svg {
    width:96px;
    height:96px;
}

.pictogram.sm, .pictogram.sm svg {
    width:48px;
    height:48px;
}



/* PROGRESS INDICATOR **********************************************/
#progress-indicator {
    position:relative;
    z-index:100;
}

#progress-indicator.sticky {
    width:100%;
    max-width:100%;
    position:sticky;
    top:0px;
    background-color:var(--gray-000);
    border-radius:0;
    box-shadow: 0px 2px 8px rgba(37, 48, 58, 0.2), 0px 2px 4px -1px rgba(37, 48, 58, 0.12), 0px 2px 12px rgba(37, 48, 58, 0.1);
}

#progress-indicator .max-width-background {
    margin-top:0;
    margin-bottom:0;
}

#progress-indicator #progress-indicator-block {
    width:100%;
    padding:2.4rem 0;
    position: relative;
    overflow: visible;
}



/* HEADER */
#progress-indicator .header {
    padding:0;
}

#progress-indicator .header {
    display: flex;
    justify-content:space-between;
    align-items: center;
}


/* STEP COUNT & BAR */
#progress-indicator .step-count {
    font-size: var(--type-sm);
    display:none;
    align-items: center;
    gap:4px;
    color:var(--cobalt-600);
    cursor:pointer;
}

#progress-indicator .step-count svg {
    width:16px;
    fill:var(--cobalt-600);
    transition:500ms;
}

#progress-indicator .step-count.open svg{
    transform:rotateX(180deg);
}

/* INDICATOR */
#progress-indicator .breadcrumbs {
    margin-top:8px;
}

#progress-indicator .breadcrumbs > .content {
    display:grid;
    grid-template-columns: auto 1fr auto;
    gap:8px;
    max-width:inherit;
}

#progress-indicator .breadcrumbs .icon {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:var(--blue-200);
    width:42px;
    height:42px;
    border-radius:100%;
}

#progress-indicator .icon svg {
    width:24px;
    height:24px;
}

#progress-indicator .tab-container {
    display: flex;
    justify-content: flex-start;
    gap:8px;
    overflow: hidden;
    padding:8px;
    border:1px solid var(--gray-300);
    border-radius: 64px;
}

#progress-indicator .tab-container > div > div {
    display:inline-block;
    padding:4px 16px;
    border-radius: 64px;
    color: var(--gray-600);
    font-size:var(--type-sm);
    user-select: none;
    white-space: nowrap;
    pointer-events: none;
}

#progress-indicator .tab-container > div > div.completed {
    color: var(--cobalt-600);
    cursor:pointer;
}

#progress-indicator .tab-container > div > div.active {
    color: var(--gray-800);
    background-color:var(--blue-100);
    font-weight:700;
}

#progress-indicator .checkout {
    display:flex;
    align-items: center;
    padding:0 16px;
    font-size:var(--type-sm);
    color:var(--gray-600);
    background-color:var(--gray-200);
    border:1px solid var(--gray-300);
    border-radius:24px;
}

/* MOBILE */

#progress-indicator .progress-bar {
    display:none;
    width:100%;
    margin-top:8px;
    height:4px;
    border-radius:8px;
    background-color:var(--gray-300);
}

#progress-indicator .progress-bar > div {
    width:50%;
    height:4px;
    border-radius:8px;
    background-color:var(--primary-blue);
}






/* STICKY FOOTER **********************************************/

#sticky-footer {
    position:sticky;
    padding:8px 32px;
    margin-top:32px;
    background-color:#fff;
    border-top: 1px solid var(--cobalt-600);
    z-index:100;
    bottom:0;
}

#sticky-footer-container {
    max-width:132.4rem;
    margin:auto;
    position: relative;
}

#sticky-footer-container .content {
    display:grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    column-gap:32px;
    margin:auto;
}

#footer-pricing {
    display:flex;
    gap:16px;
}

#footer-pricing > .pricing-details + .pricing-details {
    padding-left:16px;
    border-left: 1px solid var(--gray-500);
}

#footer-cta {grid-row: span 2;}
#footer-legal {grid-column: auto;}

#footer-pricing .price .price-point {line-height:1em;}

#footer-pricing .price .plan::after {
    content:"Monthy";
    margin-left:8px;
    font-size:0.75em;
    font-weight:400;
}

#footer-pricing .price .retail::after {
    content:"Due today";
    margin-left:8px;
    font-size:0.75em;
    font-weight:400;
}



/* QUANTITY INCREMENTOR **********************************************/

.quantity {
    display: inline-flex;
    color: var(--gray-600);
    font-weight:700;
    border:1px solid var(--gray-400);
    border-radius: 100px;
    background-color:#fff;
    font-size: 12px;
    transform: translateY(2px);
    overflow: hidden;
}

.quantity > div {
    padding:6px 8px 4px;
    transition: 300ms;
}

.quantity .amount {
    padding:6px 16px 4px;
}

.quantity svg {
    max-width:16px;
    max-height:16px;
    fill:var(--gray-500);
}

.quantity > div:first-child {
    border-right:1px solid var(--gray-400);
}

.quantity > div:last-child {
    border-left:1px solid var(--gray-400);
}

.quantity .change:hover {
    background-color: var(--gray-300);
}


/* TOOLTIP *******************************/

.tooltip {
    position:relative;
    display:inline-block;
}

.tooltip > .icon, .tooltip > .icon svg {
    width:16px;
    height:16px;
}

/* .tooltip .link {
    display:flex;
    align-items: center;
    gap:4px;
    font-size:var(--type-xxs);
    font-weight:600;
    color:var(--cobalt-600);
    text-decoration: underline;
}

.tooltip .link svg {fill:var(--cobalt-600);} */


.tooltip .block {
    display:none;
    position:absolute;
    top:-4px;
    left:8px;
    max-width:250px;
    transform:translateX(-50%) translateY(-100%);
    z-index:1;
}

.tooltip .block > div {
    display:flex;
    flex-direction: column-reverse;
}

.tooltip .block .tip {
    display:flex;
    justify-content: center;
    padding:0 2rem;
    height:8px;
    overflow: hidden;
}

.tooltip .block .tip > div {
    position:relative;
    top:-4px;
    width:8px;
    height:8px;
    background-color:var(--gray-700);
    transform: rotateZ(-135deg);
}

.tooltip.bottom .block .tip > div {
    top:4px;
}

.tooltip .text {
    position:relative;
    width:max-content;
    max-width:100%;
    background-color:var(--gray-700);
    color:var(--gray-000);
    box-shadow: 0px 2px 8px rgba(37, 48, 58, 0.2), 0px 2px 4px -1px rgba(37, 48, 58, 0.12), 0px 2px 12px rgba(37, 48, 58, 0.1);
    padding:8px 10px;
    border-radius: 8px;
    font-size:var(--type-xxs);
}

.tooltip .text .close {
    position: absolute;
    top:0px;
    right:0px;
}

/* PLACEMENT */
.tooltip .block {
    transform:translateX(-50%) translateY(-100%);
}
.tooltip.bottom .block {
    bottom:-4px;
    transform:translateX(-50%) translateY(100%);
}

.tooltip.bottom .block > div {flex-direction: column;}

.tooltip.left .block {
    transform:translateX(-24px) translateY(-100%);
}

.tooltip.right .block {
    transform:translateX(calc(-100% + 24px)) translateY(-100%);
}

.tooltip.bottom.left .block {
    transform:translateX(-24px) translateY(100%);
}

.tooltip.bottom.right .block {
    transform:translateX(calc(-100% + 24px)) translateY(100%);
}

.tooltip.left .block .tip {justify-content: flex-start;}
.tooltip.right .block .tip {justify-content: flex-end;}



/* POPOVER *******************************/
.popover {
    position:relative;
}


.tooltip.popover .block {
    max-width:300px;
}
/* .tooltip.popover .block {pointer-events: none;} */

.tooltip.popover .block .tip {
    height:12px;
}

.tooltip.popover .block .tip > div {
    z-index: 100;
    top:-6px;
    width:12px;
    height:12px;
    background-color:var(--gray-000);
    box-shadow: 0px 2px 8px rgba(37, 48, 58, 0.5);
}


.tooltip.popover .text {
    background-color:var(--gray-000);
    color:var(--gray-800);
    padding:24px;

}

.tooltip.popover .close {pointer-events: auto;}

/* POPOVER *******************************/
/* .discounts .price-item * {
    font-size:var(--type-sm);
}

.discounts .line-item * {
    font-size:var(--type-sm);
} */






/* BADGES **********************************************/
.badge-container {
    min-height:24px;
    display:flex;
}

.badge {
    display:inline-flex;
    align-items: center;
    gap:4px;
    padding:4px 8px;
    height:24px;
    font-size: var(--type-xs);
    font-weight:700;
    background-color:var(--blue-200);
    border-radius: 4px;
}

.badge:empty {background-color:transparent;}

.badge svg {
    max-width:16px;
    max-height:16px;
    fill: var(--gray-800);
}

.signature {
    display:flex;
    align-items: center;
    position:relative;
    gap:8px
}

.signature > .badge {
    background-color:var(--gray-200);
    border:1px solid var(--gray-300);
    margin-bottom:0;
    transition: 500ms;
}

.signature > .badge svg {
    min-width:16px;
    min-height:16px;
    fill: var(--cobalt-600);
}

.card.active .signature > .badge {
    background-color:#fff;
}


/* SEARCH BAR **********************************************/

.searchbar {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    background-color:#fff;
    border:1px solid var(--gray-600);
    border-radius:8px;
}

.searchbar input {
    font-size: var(--type-sm);
    color: var(--gray-600);
    padding: 12px 16px;
    border: transparent;
    border-radius:8px;
    background-color:transparent;
}

.searchbar > div {

}
.searchbar svg {
    max-width:16px;
    max-height:16px;
    margin: 0 16px;
    fill: var(--gray-600);
}


.search-filters {
    display:grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap:64px;
    transition: 300ms;
}

.filter {
    position:relative;
    min-width:200px;
}

.filter-control {
    position:relative;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 8px;
}

.filter .label {
    font-size: var(--type-xs);
}

.filter .label span {
    font-weight: 700;
}


/* DROP DOWN **********************************************/
.modal.dropdown {
    position:absolute;
    bottom:-4px;
    right:0;
    transform: translateY(100%);
    z-index: 1;
    width:100%;
    background-color: #fff;
    border: 1px solid var(--gray-400);
    box-shadow: 0px 2px 2px -1px rgba(37, 48, 58, 0.12), 0px 1px 8px rgba(37, 48, 58, 0.1), 0px 1px 4px rgba(37, 48, 58, 0.2);
    border-radius: 8px;
    font-size: var(--type-sm);
    color:var(--gray-600);
    overflow: hidden;
}

.modal.dropdown > div {
    padding:16px;
    cursor:pointer;
    transition: 300ms;
}

.modal.dropdown > div:hover {
    background-color: var(--blue-100);
    color:var(--cobalt-600);
}



/* REVEAL HIDDEN ELEMENTS *********************************/
.reveal {
    overflow:hidden;
    transition: 500ms;
}


/* ACCORDION **********************************************/
.accordions {
    
}

.accordion {
    border-top:1px solid var(--gray-300);
    border-bottom:1px solid var(--gray-300);
    transition: 500ms;
}

.accordion.noborder {
    border-top:none;
    border-bottom:none;
}

.accordion + .accordion {
    border-top:none;
}

.accordion.framed {
    border:none;
    border-radius:16px;
}

.accordion.expanded {
    padding-bottom:24px;
}

.accordion.sm.expanded {
    padding-bottom:16px;
}

/* .accordion.noborder.expanded {
    padding-bottom:0px;
} */

.accordion .control {
    padding:24px 0;
    position: relative;
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:16px;
    cursor:pointer;
    user-select: none;
}

.accordion.sm .control {
    padding:16px 0;
}

.accordion.flush .control {
    padding-top:0;
    padding-bottom:0;
}

.accordion.bleed .control {
    padding-left:2.4rem;
    padding-right:2.4rem;
}

.accordion .control.center {
    justify-content: center;
}

.accordion .control .label {
    display:flex;
    align-items: center;
    gap:8px;
    font-size:var(--heading-sm);
    font-weight:700;
    line-height: 1.15;
    letter-spacing: -0.03em;
    transition: 500ms;
}

.accordion.sm .control .label {font-size:var(--heading-xs);}
.accordion.xxl .control .label {font-size:var(--heading-xxl);}

.accordion .control .carat {
    display:flex;
    align-items: center;
}

.accordion .control .carat svg {
    max-width:20px;
    max-height:20px;
    fill:var(--gray-600);
    transition: 500ms;
}

.accordion .control .carat svg + svg {margin-left:16px;}

.dark .accordion .control .carat svg,
.accordion.dark .control .carat svg {fill:var(--gray-400);}

.accordion.xxl .control .carat svg {
    max-width:32px;
    max-height:32px;
}

.accordion.expanded .control .carat svg:first-child {
    transform: rotateZ(180deg);
}

.accordion .content {
    overflow: clip;
    transition: 500ms;
}

.accordion.bleed .content {
    padding-left:2.4rem;
    padding-right:2.4rem;
}


.accordion .content .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding-top:24px; */
}

/* .accordion.noborder .content .wrapper {
    padding-top:24px;
} */


.accordion .frame {
    margin-bottom:32px;
    padding:32px;
    background-color:var(--gray-100);
    border-radius: 16px;
}

/* INACTIVE */
.accordion.inactive {
    pointer-events: none;
    background-color:var(--gray-200);
}

.accordion.inactive .control .label {color:var(--gray-400);}
.accordion.inactive .carat svg {fill:var(--gray-400);}

.accordion.inactive svg.eye {
    pointer-events: all;
    /* fill:var(--gray-600); */
}





/* JUMP LINKS **********************************************/

#jump-links {
    position:sticky;
    top:-1px;
    background-color:#fff;
    padding: 24px 0 16px;
    margin-top:64px;
    z-index:100;
    margin-bottom:64px;
    color:var(--gray-700);
    font-weight:700;
}

#jump-links .link-container {
    display: flex;
    justify-content: center;
    gap:32px;
}

#jump-links .link {
    font-size: var(--heading-xxs);
    color: var(--gray-600);
    cursor: pointer;
    user-select: none;
}

#jump-links .link .underline {
    width:0;
    height:2px;
    margin-top:4px;
    background-color:var(--gray-400);
    transition: all 300ms;
}

#jump-links .link:hover .underline {
    width:100%;
}


#jump-links .link.active {
    color:var(--gray-800);
}

#jump-links .link.active .underline {
    width:100%;
    background-color:var(--cobalt-400);
}


/* TABS **********************************************/

.tabs {
    border-radius:0;
    max-width:160rem;
    margin:auto;
}

.tabs.inset {border-radius: 64px;}

.tabs > .list {
    display:flex;
    align-items: center;
    justify-content: center;
    padding:8px;
    gap:24px;
}

.tabs > .list > div {
    padding:13px 32px;
    font-size: var(--heading-xxs);
    font-weight:700;
    color:var(--gray-700);
    border-radius: 100px;
    cursor: pointer;
    transition: 500ms ease-in;
}

.tabs > .list > div.active {
    padding:13px 16px;
    color:#fff;
    background-color:var(--gray-800);
    pointer-events: none;
}

/* TABS */
.tabs-container {
    width:100%;
    overflow:hidden;
    transition:1000ms;
}

.tabs-container .overflow-container .tab-content {
    min-width:100%;
    transition:1000ms;
}




/* HEADBAND **********************************************/

.headband .overflow-container {
    display:flex;
}

.headband * {transition:500ms;}


.headband ul {
    display:flex;
    justify-content: center;
    width: 100%;
    gap:0;
    padding-top:4px;
}


.headband li {
    width:120px;
    flex-direction: column;
    align-items: center;
    gap:6px;
    cursor:pointer;
}

.headband li svg {fill:var(--blue-000)}

.headband .label {
    font-size:var(--type-xs);
    font-weight:700;
    user-select: none;
}

.dark .headband li svg {fill:var(--blue-000);transition:250ms;}
.dark .headband li .label {color:var(--blue-000);}

.dark .headband li.active svg {fill:var(--gray-400)}
.dark .headband li.active .label {color:var(--gray-400);}

.headband li:hover .label {
    text-decoration:underline;
}

.headband li:hover svg {transform:translateY(-4px)}








/* OVERFLOW CONTAINER **********************************************/

.overflow-container {
    display:flex;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
    overscroll-behavior-x: contain;
    transition:1000ms;
}

.overflow-container::-webkit-scrollbar {
    display:none;
}




/* PAGINATION *************************/


/* CARD CAROUSEL SIDE BUTTONS */
.pag-button {
    position:relative;
    transition:500ms;
    cursor: pointer;
    z-index:1;
    padding-top:32px;
    padding-bottom:32px;
}

.pag-button.inactive {
    pointer-events: none;
    opacity: 0;
}

.pag-button svg {
    width:32px;
    height:32px;
    fill: var(--gray-500);
}

.pag-button.inactive svg {
    fill: var(--gray-300);
}

.pag-button.prev {
    left:0;
    border-right:1px solid var(--gray-300);
    box-shadow: 2px 0px 6px #3333;
}

.pag-button.next {
    right:0;
    border-left:1px solid var(--gray-300);
    box-shadow: -2px 0px 6px #3333;
}

.pag-button svg {
    position:relative;
    transition:500ms, top 200ms ease-out;
}

.pag-button.prev:hover svg {transform: translateX(-8px);}
.pag-button.next:hover svg {transform: translateX(8px);}

/* BOTTOM PAGINATION */

.pagination {
    position:relative;
    bottom:0;
    left:0;
    width:100%;
    pointer-events: none;
}

.pagination .pag-container {
    position:sticky;
    top:0;
    left:0px;
    display:flex;
    justify-content: center;
    align-items: flex-end;
}

.pagination .pag-bar {
    display:inline-flex;
    justify-content: center;
    align-items: center;
    gap:32px;
    bottom:0px;
    border-radius:100px;
    margin:auto;
    pointer-events: all;
}

.pagination .pag-bar.framed {
    background-color:#fff;
    padding:8px;
}

.pagination.extended .pag-bar {
    /*box-shadow: 2px 2px 6px #3333;*/
}


.pagination .pag-button {
    width:24px;
    height:24px;
    transition:500ms;
    cursor: pointer;
}

.pagination .pag-button.inactive {
    pointer-events: none;
}

.pagination .pag-button svg {
    fill: var(--cobalt-600);
}

.pagination .pag-button.inactive svg {
    fill: var(--gray-300);
}

.pagination .pag-bubbles {
    display:flex;
    gap:16px;
}

.pagination .pag-bubble {
    position: relative;
    width:16px;
    height:16px;
    border-radius: 100%;
    border:1px solid transparent;
    transition:500ms;
    cursor:pointer;
}

.pagination .pag-bubble.active {
    border:1px solid var(--gray-600);
    pointer-events:none;
}
.pagination .pag-bubble::after {
    content:'';
    position:absolute;
    top:3px;
    left:3px;
    width:8px;
    height:8px;
    border-radius: 100%;
    background-color:var(--gray-400);
}


/* ON DARK */
.grad-brand .pagination .pag-button svg,
.dark .pagination .pag-button svg {
    fill: var(--gray-000);
}

.grad-brand .pagination .pag-button.inactive svg,
.dark .pagination .pag-button.inactive svg {
    fill: var(--gray-000);
    opacity: 0.4;
}

.grad-brand .pagination .pag-bubble.active,
.dark .pagination .pag-bubble.active {
    border:1px solid var(--gray-000);
    pointer-events:none;
}

.grad-brand .pagination .pag-bubble::after,
.dark .pagination .pag-bubble::after {
    background-color:var(--gray-300);
}


/* CONTEXTUAL MESSAGES **********************************************/

.context {
    display:grid;
    grid-template-columns: auto 1fr;
    align-items: flex-start;
    gap:8px;
}

.context p {font-size:var(--type-sm);}

.context > div {
    width:24px;
    height:24px;
    flex:1;
}

.context.sm, .context.xs {gap:4px;}
.context.sm p {font-size:var(--type-xs);}
.context.sm > div, .context.xs > div {
    width:16px;
    height:16px;
}

.context.xs p {font-size:var(--type-xxs);}

.context.info svg {
    fill: var(--cobalt-600);
}

.context.warning svg {
    fill: var(--orange-600);
}

.context.success svg {
    fill: var(--green-600);
}

.context.alert svg {
    fill: var(--red-600);
}


/* FAVORITE ICON **********************************************/
.favorite {
    transition: all 500ms;
    cursor: pointer;
    transform-origin: center;
}

.favorite.active {
    animation: fav-check 500ms ease-in-out;
}

.favorite.active svg {fill:var(--cobalt-400);}

@keyframes fav-check {
    0% {transform:scale(1);}
    50% {transform:scale(1.2);}
    100% {transform:scale(1);}
}





/* FILTERS **********************************************/
.filters {
    display:flex;
    flex-direction:column;
    font-size:var(--type-sm);
}

.filters > div {
    margin-bottom:32px;
    padding-bottom:32px;
    border-bottom:1px solid var(--gray-300);
}

.filters .header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size:var(--type-base);
}

.filters .locator > *:first-child {
    font-weight:700;
}

.filters .locator > *:last-child {
    display:flex;
    gap:8px;
}




/* MICROBANNERS **********************************************/
.micro-banner {
    background-color:var(--blue-100);
    padding:16px;
    border-radius: 16px;
    text-align: center;
}

.micro-banner.help {
    background-color:var(--blue-100);
    color: var(--gray-700);
}




/* PROMOBANNER **********************************************/
#promobanner.signature {
    padding:16px 24px;
    background-color:var(--gray-700);
}

#promobanner.signature .accordion {
    border:none;
}

#promobanner.signature .accordion .control {
    display:flex;
    justify-content: center;
    align-items: flex-start;
    padding:0;
    color:#fff;
}

#promobanner.signature .accordion .control .label {
    display:flex;
    gap:8px;
}

#promobanner.signature .accordion .control .label svg {
    width:32px;
    height:32px;
    fill:#fff;
    padding-top:4px;
}

#promobanner.signature .accordion .control .text > div {
    font-weight:400;
    font-size:var(--type-xs);
}
#promobanner.signature .accordion .control .carat {padding-top:4px;}
#promobanner.signature .accordion .control .carat svg {fill:#fff;}

#promobanner.signature .accordion .content .container {
    display:flex;
    justify-content: center;
    padding-top:24px;
}

#promobanner.signature .accordion .content .frame {
    display:grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap:24px;
    max-width:800px;
    padding:24px;
    background-color:#fff;
    border-radius: 16px;
    margin-bottom:0;
}

#promobanner.signature .accordion .content .frame > div:last-child {
    display:grid;
    gap:16px;
    border-left:1px solid var(--gray-300);
    padding-left:24px;
}





/* MEDIA QUERIES *******************************/
@media only screen and (min-width: 1601px) {
    .tabs {border-radius:3.6rem;}
}

@media only screen and (min-width: 1325px) {
    .tabs.condensed {border-radius:3.6rem;}
}



/* TABLET  */
@media only screen and (max-width: 1024px) {

    /* ACCORDION */
    .accordion .control {
        padding:16px 0;
    }


    /* PROGRESS INDICATOR */

    #progress-indicator .progress-bar {display:block;}
    #progress-indicator .step-count {display:flex;}
    #progress-indicator .breadcrumbs .icon, #progress-indicator .breadcrumbs .checkout {display:none;}

    #progress-indicator .breadcrumbs {
        position:absolute;
        bottom:0;
        right:8px;
        transform: translateY(0);
        z-index:-1;
        background-color:var(--gray-000);
        padding:2.4rem;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        box-shadow: none;
        transition: 500ms;
    }

    #progress-indicator .breadcrumbs.open {
        transform: translateY(100%);
        box-shadow: 0px 2px 8px rgba(37, 48, 58, 0.2), 0px 2px 4px -1px rgba(37, 48, 58, 0.12), 0px 2px 12px rgba(37, 48, 58, 0.1);
    }

    #progress-indicator .breadcrumbs > .content {display:block;}

    #progress-indicator .tab-container {
        display:block;
        padding:0;
        border:none;
        border-radius: 0;
    }

    #progress-indicator .tab-container > div {
        margin-bottom:8px;
    }



    /* SIGNATURE/FIRSTNET BANNERS */
    #promobanner.signature .accordion .content .frame {
        grid-template-columns: 1fr;
    }
    
    #promobanner.signature .accordion .content .frame > div:last-child {
        border-left:none;
        padding-left:0;
    }

}


/* MOBILE */
@media only screen and (max-width: 480px) {
    #progress-indicator .breadcrumbs {
        right:0;
        width:100%;
    }

    #progress-indicator #progress-indicator-block {padding:1.6rem 0;}

    /* STICKY FOOTER */
    #footer-cta {grid-row: auto;}
    #footer-legal {grid-column: span 2;}

    #footer-pricing .price .plan::after, #footer-pricing .price .retail::after {
        display:block;
        margin:0
    }

    #footer-cta {
        grid-row: auto;
    }
    
    #footer-legal {
        grid-column: span 2;
        margin-top:4px;
    }

    /* TABS */
    .tabs > .list {
        justify-content: center;
        gap:24px;
    }
    
    .tabs > .list > div {padding:4px 24px;}
    .tabs > .list > div.active {padding:4px 16px;}

    /* CAROUSEL */

    .pag-button.prev, .pag-button.next {display:none;}
    
}