
.device-carousel {

}

.device-carousel .overflow-container {
    height:500px;
}

.device-carousel .overflow-container > div {
    height:100%;
    width:100%;
}

.device-carousel .overflow-container > div img {
    height:100%;
    width:100%;
    object-fit: contain;
}