@font-face {
    font-family: "ATT Aleck Sans";
    src: url(../fonts/ATTAleckSans_W_Rg.ttf);
}

@font-face {
    font-family: "ATT Aleck Sans";
    src: url(../fonts/ATTAleckSans_W_Bd.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "ATT Aleck Sans";
    src: url(../fonts/ATTAleckSans_W_Blk.ttf);
    font-weight: 800;
}

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html, body, #page-grid {
    width:100%;
    height:100%;
    font-family: "ATT Aleck Sans";
    font-size:1.6rem;
}

body {
    color:var(--gray-800);
    transition: 1000ms;
    scroll-behavior: smooth;
}

/* HIDE COMPONENTS */
.dt-hide {display:none!important;}


/* VARIABLES */

:root {

    font-size:10px;

    --primary-blue: #009FDB;
    --access-blue: #327AB0;
    
    --cobalt-400: #007AE2;
    --cobalt-600: #0057B8;
    --cobalt-800: #25303A;

    --blue-000: #F2FAFD;
    --blue-100: #DCF3FA;
    --blue-200: #BAEEFC;

    --gray-000: #FFF;
    --gray-100: #F8FAFB;
    --gray-200: #F3F4F6;
    --gray-300: #DCDFE3;
    --gray-400: #BDC2C7;
    --gray-500: #878C94;
    --gray-600: #686E74;
    --gray-700: #454B52;
    --gray-800: #1D2329;

    --red-600: #C70032;
    --orange-600: #EA712F;
    --green-600: #2D7E24;

    --heading-xxxs: 1.2rem;
    --heading-xxs: 1.4rem;
    --heading-xs: 1.6rem;
    --heading-sm: 2.0rem;
    --heading-md: 2.6rem;
    --heading-lg: 3.4rem;
    --heading-xl: 4.2rem;
    --heading-xxl: 4.8rem;
    --heading-xxxl: 6.0rem;

    --type-xxs: 1.1rem;
    --type-xs: 1.2rem;
    --type-sm: 1.5rem;
    --type-base: 1.8rem;
    --type-lg: 2.4rem;

    --eyebrow-xs: 1.2rem;
    --eyebrow-sm: 1.4rem;
    --eyebrow-md: 1.6rem;
    --eyebrow-lg: 2.0rem; 
    --eyebrow-xl: 2.4rem;
    --eyebrow-xxl: 2.6rem;
    --eyebrow-xxxl: 2.8rem;

    --type-legal: 1.1rem;

}


/* MAIN STRUCTURE ***************************/
main {
    display:grid;
}

.max-width-background {
    position:relative;
    width:100%;
    max-width:160rem;
    overflow:hidden;
    margin:auto;
    padding:48px 0;
    transition:500ms;
}

.max-width-background.tight {padding-top:16px;padding-bottom:16px;}
.max-width-background.flush {padding-top:0;padding-bottom:0;}
.max-width-background.bleed {padding-left:0;padding-right:0;}
.container {
    margin:0 auto;
    width:100%;
    max-width:132.4rem;
    padding-left:32px;
    padding-right:32px;
}

.container.bleed {
    padding-left:0;
    padding-right:0;
}

.container .content {
    margin:0 auto;
    width:100%;
    max-width:104.8rem;
}

.hug {width:max-content;}



/* GRIDS/FLEX ***************************/
.flex {display:flex;}

.flex.left {justify-content: flex-start;}
.flex.center {justify-content: center;}
.flex.right {justify-content: flex-end;}

.flex.top {align-items: flex-start;}
.flex.middle {align-items: center;}
.flex.bottom {align-items: flex-end;}
.flex.equal {align-items: stretch;}

.flex.xl, .grid.xl {gap:64px;}
.flex.lg, .grid.lg {gap:32px;}
.flex.md, .grid.md {gap:24px;}
.flex.sm, .grid.sm {gap:16px;}
.flex.xs, .grid.xs {gap:8px;}
.flex.xxs, .grid.xxs {gap:4px;}

.flex.spaced {justify-content: space-between;}

.flex.col {flex-direction: column;}

.grid {display:grid;}

.grid.split {grid-template-columns: 1fr 1fr;}




/* CONSTRAINTS */
.hug {width:max-content;}
.align-bottom {align-self:flex-end;}
.flex.full {width:100%;}



/* SPACING */
.mar-lg {margin:32px!important;}
.mar-md {margin:24px!important;}
.mar-sm {margin:16px!important;}
.mar-xs {margin:8px!important;}
.mar-no {margin:0px!important;}

.mar-lg-t {margin-top:32px!important;}
.mar-md-t {margin-top:24px!important;}
.mar-sm-t {margin-top:16px!important;}
.mar-xs-t {margin-top:8px!important;}
.mar-no-t {margin-top:0px!important;}

.mar-lg-b {margin-bottom:32px!important;}
.mar-md-b {margin-bottom:24px!important;}
.mar-sm-b {margin-bottom:16px!important;}
.mar-xs-b {margin-bottom:8px!important;}
.mar-no-b {margin-bottom:0px!important;}

.mar-lg-l {margin-left:32px!important;}
.mar-md-l {margin-left:24px!important;}
.mar-sm-l {margin-left:16px!important;}
.mar-xs-l {margin-left:8px!important;}
.mar-no-l {margin-left:0px!important;}

.mar-lg-r {margin-right:32px!important;}
.mar-md-r {margin-right:24px!important;}
.mar-sm-r {margin-right:16px!important;}
.mar-xs-r {margin-right:8px!important;}
.mar-no-r {margin-right:0px!important;}


.pad-lg {padding:32px!important;}
.pad-md {padding:24px!important;}
.pad-sm {padding:16px!important;}
.pad-xs {padding:8px!important;}
.pad-no {padding:0px!important;}

.pad-lg-t {padding-top:32px!important;}
.pad-md-t {padding-top:24px!important;}
.pad-sm-t {padding-top:16px!important;}
.pad-xs-t {padding-top:8px!important;}
.pad-no-t {padding-top:0px!important;}

.pad-lg-b {padding-bottom:32px!important;}
.pad-md-b {padding-bottom:24px!important;}
.pad-sm-b {padding-bottom:16px!important;}
.pad-xs-b {padding-bottom:8px!important;}
.pad-no-b {padding-bottom:0px!important;}

.pad-lg-l {padding-left:32px!important;}
.pad-md-l {padding-left:24px!important;}
.pad-sm-l {padding-left:16px!important;}
.pad-xs-l {padding-left:8px!important;}
.pad-no-l {padding-left:0px!important;}

.pad-lg-r {padding-right:32px!important;}
.pad-md-r {padding-right:24px!important;}
.pad-sm-r {padding-right:16px!important;}
.pad-xs-r {padding-right:8px!important;}
.pad-no-r {padding-right:0px!important;}


/* COLORS **************************************/

.white {color:var(--gray-000);}
.gray {background-color:var(--gray-200);}
.base {background-color:var(--gray-000);}
.neutral {background-color:var(--gray-100);}
.accent {background-color:var(--blue-000);}
.dark {background-color:var(--cobalt-800);}
.signature {background-color:var(--gray-700);}
.access-blue {background-color:var(--access-blue);color:var(--gray-000);}
.grad-brand {background-image:linear-gradient(to right,#0079B1,#009FDB,#00C9FF);color:var(--gray-000);}
.grad-brand-dark {background-image:linear-gradient(to right,#0079B1,#009FDB);color:var(--gray-000);}
.grad-light {background-image:linear-gradient(var(--blue-000), var(--blue-200));color:var(--gray-800);}

.dark {color:var(--gray-000);}
.dark p, .dark a {color:var(--gray-100);}
.dark p.legal, .dark p.legal a {color:var(--gray-200);}

.base {color:var(--gray-800);}
.base p, .dark a {color:var(--gray-700);}
.base p.legal, .dark p.legal a {color:var(--gray-600);}

.green {color:var(--green-600)}
svg.green {fill:var(--green-600)}

.bordered {border:1px solid var(--gray-400)}


/* TEXT **************************************/
h1, h2, h3, h4, h5, h6 {
    font-weight:700;
    line-height: 1.15;
    letter-spacing: -0.03em;
    color:var(--gray-800);
}
h1{ font-size:var(--heading-xxl);}
h1.xxxl {font-size:var(--heading-xxxl);}
h2 {font-size:var(--heading-xl);}
h3 {font-size:var(--heading-lg);}
h4 {font-size:var(--heading-md);}
h5 {font-size:var(--heading-sm);}
h6 {font-size:var(--heading-xs);}
h6.xxs {font-size:var(--heading-xxs);}
h6.xxxs {font-size:var(--heading-xxxs);}

p {font-size: var(--type-base);color:var(--gray-700);}

/* SIZES */
p.lg {font-size: var(--type-lg);}
p.md {font-size: var(--type-base);}
p.sm {font-size: var(--type-sm);}
p.xs {font-size: var(--type-xs);}
p.xxs {font-size: var(--type-xxs);}

/* COLORS */
.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {color:var(--gray-000);}
.base h1, .base h2, .base h3, .base h4, .base h5, .base h6 {color:var(--gray-800);}
/*OTHER*/

.txt-right {
    text-align:right;
}

.eyebrow {
    font-size: var(--eyebrow-md);
    color: var(--gray-700);
}

.eyebrow.xxxl {font-size: var(--eyebrow-xxxl);}
.eyebrow.xxl {font-size: var(--eyebrow-xxl);}
.eyebrow.xl {font-size: var(--eyebrow-xl);}
.eyebrow.lg {font-size: var(--eyebrow-lg);}
.eyebrow.sm {font-size: var(--eyebrow-sm);}
.eyebrow.xs {font-size: var(--eyebrow-xs);}


.bold {
    font-weight:700;
}

.nowrap {white-space: nowrap;}

/* LEGAL */

.legal, .legal p {
    font-size:var(--type-legal)!important;
    color: var(--gray-600);
}

.legal.short {
    max-width: 500px;
}

.legal ol li + li {
    margin-top:16px;
}

.legal ol {
    counter-reset: item;
    padding: 0;
    list-style:none;
}

.legal ol li:before{
    content: counter(item);
    counter-increment: item;
    position: absolute;	
    vertical-align:super;
    font-size:xx-small;
    font-weight:700;
    left: 0;
}

.legal ol li{
    position: relative;
    display: block;
    padding-left: 1em;
}

sup {
    position:relative;
    font-size:0.5em;
    font-weight:400;
    color:var(--gray-800);
}

sup .r {top:0.3em;}

.legal sup {
    font-weight:700;
}


/* INPUTS ***************************************/
input {
    background-color:var(--gray-000);
    border:1px solid var(--gray-400);
    border-radius:8px;
    padding:12px 16px;
    outline-color: var(--cobalt-400);
}

input + svg {
    position:absolute;
    width:24px;
    height:24px;
    right:0;
    margin:8px;
    fill:var(--gray-600);
}

.input.icon {}



/* SPECIAL CASES ***************************************/
.input {
    position:relative;
}

input[type=text].lg {
    width:100%;
    font-size:var(--type-lg);
    padding:16px;
}

.input.icon input[type=text].lg {padding-right:52px;}

input.lg + svg {
    width:32px;
    height:32px;
    margin:16px;
}



/* LISTS ***************************************/

ul {
    font-size:var(--type-sm);
    display: grid;
    gap: 16px;
}

ul.tight {
    gap: 8px;
}

li {
    position: relative;
    display:flex;
}

ul.bullets {padding-left:16px;}

ul.bullets li {
    flex-direction: column;
    justify-content: flex-start;
    gap:4px;
}

ul.bullets li::before {
    content:'';
    position:absolute;
    left:-16px;
    top:8px;
    width:4px;
    height:4px;
    border-radius: 100%;
    background-color:var(--gray-800);
}

ul.bullets li.tip {
    flex-direction: row;
}

li.tip > div {
    margin-top:2px;
}


/* ICON BULLETS */
ul.icons li {
    gap:8px;
}
ul.icons li > div:first-child, ul.icons li > div:first-child svg {
    width:32px;
    height:32px;
}

ul.icons li > div:last-child svg {
    width:16px;
    height:16px;
}



/* HORIZONTAL RULE **************************/
hr {
    height:1px;
    background-color: var(--gray-400);
}
.hr {
    display:flex;
    gap:4px;
    justify-content: center;
    align-items: center;
    font-size: var(--type-xs);
    font-weight:700;
    text-transform: uppercase;
    color:var(--gray-600);
    width:100%;
    height:auto;
}

.hr::before, .hr::after {
    content:'';
    height:1px;
    width:100%;
    background-color:var(--gray-400);
}

.hr.ver {
    flex-direction: column;
    width:auto;
    height:100%;
}

.hr.ver::before, .hr.ver::after {
    width:1px;
    height:100%;
}


.hr:empty {gap:0;}



/* ANCHORS **************************/

a {
    color:var(--cobalt-600);
    font-weight:700;
    text-decoration: none;
    transition: 500ms;
    white-space: nowrap;
}

a:hover {
    color:var(--cobalt-400);
    text-decoration: underline;
}

.dark a:hover {
    color:var(--gray-200);
    text-decoration:none;
}

a.light {font-weight:400;}
a.line {text-decoration:underline;}
a.line:hover {text-decoration:none;}

.legal a {
    color:var(--gray-600);
    font-weight:400;
    text-decoration: underline;
    transition: 500ms;
    white-space: nowrap;
}

.legal a:hover {
    text-decoration: none;
}



/* PRICING */

.price {
    display: flex;
    flex-direction: column;
    position: relative;
}

.price.detailed {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap:8px;
}

.price.right {
    align-items: flex-end;
}

.price-point {
    font-weight:700;
    line-height: normal;
}

.price-point.light {font-weight:400;}

.price.xl .price-point{font-size: var(--heading-xl);line-height: 0.5em;}
.price.lg .price-point{font-size: var(--heading-lg);line-height: 0.5em;}
.price.md .price-point{font-size: var(--heading-md);line-height: 0.6em;}
.price.sm .price-point{font-size: var(--heading-sm);line-height: 0.7em;}
.price.xs .price-point{font-size: var(--heading-xs);line-height: 0.8em;}
.price.xxs .price-point{font-size: var(--type-sm);line-height: 0.8em;}

.price > div:not(.price-point) {
    font-size:var(--type-xxs);
}

.price .strikethrough {
    font-size:var(--type-sm)!important;
    color: var(--gray-600);
    text-decoration: line-through;
    font-weight:700;
}

.price .description, .price .disclosure {
    font-size:var(--type-legal)!important;
}


.price .price-point::before {
    content: "$";
    font-size: 0.5em;
    vertical-align:super;
}

.price .strikethrough::before {
    content: "$";
}

.price .price-point.none::before {
    content: "";
}

.price .add-on::before {
    content: "+$";
}

.price .discount::before {
    content: "-$";
}

.price .plan::after, .price .add-on::after {
    content: "/mo.";
    font-size: 0.4em;
    vertical-align:baseline;
}

.price .strikethrough.plan::after {
    font-size: 1em;
}

.price .retail::before {
    content: "$";
    font-size: 0.5em;
    vertical-align:super;
}

.price.xxs .price-point::before,
.price.xs .price-point::before, 
.price.sm .price-point::before {
    font-size:1em;
    vertical-align: baseline;
}

.price.xxs .plan::after, 
.price.xs .plan::after, 
.price.sm .plan::after, 
.price .add-on-mo::after {
    font-size:0.5em;
}




/* ICONS **********************************/

svg {
    width:100%;
    fill:var(--gray-800);
}

.icon {flex-shrink: 0;}
.icon.px16 {
    max-width:16px;
    max-height:16px;
}
.icon.px24 {
    max-width:24px;
    max-height:24px;
}
.icon.px32 {
    max-width:32px;
    max-height:32px;
}
.icon.px48 {
    max-width:48px;
    max-height:48px;
}
.icon.px64 {
    max-width:64px;
    max-height:64px;
}
.icon.px96 {
    max-width:96px;
    max-height:96px;
}
.svg-accent {
    fill: var(--primary-blue);
}




/* INPUT FIELDS ************************/
input[type=text]{
    font-family: "ATT Aleck Sans";
}





/* CUSTOMIZED SCROLLBAR *************************************************/
/* total width */
.scrollbar::-webkit-scrollbar {
    background-color: transparent;
    width:10px;
    height:10px;
}

/* background of the scrollbar except button or resizer */
.scrollbar::-webkit-scrollbar-track {
    background-color:var(--gray-300);
    border: 3px solid #fff;
    border-radius: 8px;
}

/* scrollbar itself */
.scrollbar::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to right, #0079B1, #009FDB, #00C9FF);
    border-radius: 8px;
    border:3px solid #fff;
}

/* scrollbar itself */
.scrollbar::-webkit-scrollbar-thumb:hover {
    border:0px solid #fff;
}

.scrollbar::-webkit-scrollbar-button {
    display:none;
}

/* THIN VERSION */
.scrollbar.thin::-webkit-scrollbar {
    width:6px;
    height:6px;
}

.scrollbar.thin::-webkit-scrollbar-track {
    background-color:var(--gray-300);
    border:1px solid #fff;
    border-radius: 3px;
}

.scrollbar.thin::-webkit-scrollbar-thumb {
    background-image: linear-gradient(var(--gray-800), var(--gray-600));
    border:1px solid #fff;
    border-radius: 3px;
}

.scrollbar.thin::-webkit-scrollbar-thumb:hover {
    border:0px solid #fff;
}

.scrollbar.windowed::-webkit-scrollbar-track {
    border-radius:0;
    border:none;
}


.active .scrollbar::-webkit-scrollbar-track {
    border-color: var(--blue-000);
}





/* HEADER BAR ***********************************/
nav {
    position:relative;
    z-index:101;
}

nav#main-nav > div, nav#sub-nav > div {
    width:100%;
    max-width:132.4rem;
    margin:auto;
    padding:8px 32px;
    display:grid;
    grid-gap:32px;
}

nav#main-nav {
    background-color: var(--gray-200);
}

nav#main-nav > div {
    grid-template-columns: 1fr auto;
}

nav#main-nav > div > div {
    display: flex;
    gap:8px;
}

nav#main-nav > div > div > div {
    width:50px;
    height:8px;
    border-radius: 16px;
    background-color:var(--gray-300);
}

nav#sub-nav {
    background-color: #fff;
    border-bottom:1px solid var(--gray-300);
}

nav#sub-nav > div {
    grid-template-columns: auto 1fr auto auto;
}

nav#sub-nav > div > div {
    display: flex;
    gap:16px;
    align-items: center;
}

nav#sub-nav > div > div > div {
    width:50px;
    height:12px;
    border-radius: 60px;
    background-color:var(--gray-200);
}

nav#sub-nav .logo img {
    height:40px;
    transform: scale(1.5);
}

nav#sub-nav svg {
    width:24px;
    height:24px;       
}

nav#sub-nav .search > div {
    width:150px;
    height:24px;
}

nav#sub-nav .nav-left, nav#sub-nav .nav-right {
    display:none;
}




/* FOOTER **********************************/
footer {
    position: relative;
    background-color:var(--gray-200);
    padding:64px 24px;
    font-size:var(--type-xs);
    color:var(--gray-800);
    z-index: 101;
    margin-top:-1px;
}

footer > div {
    width:100%;
    max-width:160rem;
    margin:auto;
    display: grid;
    gap:64px;
}

footer a {
    color:var(--gray-800);
    font-weight:400;
}

footer a:hover {
    color:var(--gray-800);
    text-decoration: underline;
}

footer .link-farm {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:64px;
}

footer .soc {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width:250px;
}

footer .link-farm .lists {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:32px;
}

footer .link-list h6 {
    margin-bottom: 24px;
}

footer ul {
    list-style-type: none;
    font-size:var(--type-xs);
    gap:24px;
    margin:0;
    padding:0;
}

/* SOCIAL ICONS*/

footer .social ul {
    display:flex;
    gap:16px;
}

footer .social svg {
    fill:var(--gray-800);
    cursor:pointer;
    width:30px;
    height:30px;
}

/* myATT */
footer .myatt {
    display: flex;
    flex-direction: column;
    gap:8px;
}

footer .myatt img {
    width:80px;
}

/* HELP LINKS*/
footer .link-help ul {
    display:flex;
    flex-wrap: wrap;
}

footer .link-help a, footer .copy, footer .copy a {
    color:var(--gray-600);
}

footer .copy > div + div {
    margin-top:8px;
}

footer .copy a {
    margin-left: 8px;
    text-decoration: underline;
}

footer .copy a:hover {
    text-decoration: none;
}





/* MEDIA QUERIES *******************************/
@media only screen and (min-width: 1601px) {
    .max-width {padding:0;}
    .max-width-background {border-radius:1.6rem;}

    .max-width-background {
        margin-top:32px;
    }

    .max-width-background.flush {
        margin-top:32px;
        margin-bottom:0px;
    }
}

/* TABLET  */
@media only screen and (max-width: 1024px) {

    /* VARIABLES */

    :root {

        --heading-xxxs: 1.1rem;
        --heading-xxs: 1.2rem;
        --heading-xs: 1.4rem;
        --heading-sm: 1.8rem;
        --heading-md: 2.2rem;
        --heading-lg: 2.8rem;
        --heading-xl: 3.4rem;
        --heading-xxl: 3.8rem;
        --heading-xxxl: 4.2rem;

        --type-xxs: 1.0rem;
        --type-xs: 1.2rem;
        --type-sm: 1.5rem;
        --type-base: 1.7rem;
        --type-lg: 2.0rem;

        --eyebrow-sm: 1.4rem;
        --eyebrow-md: 1.6rem;
        --eyebrow-lg: 1.8rem; 
        --eyebrow-xl: 2.2rem;
        --eyebrow-xxl: 2.4rem;
        --eyebrow-xxxl: 2.6rem;

        --type-legal: 1.2rem;

    }

    /* HIDE COMPONENTS */
    .tb-hide {display:none!important;}

    /* MAIN */


    /* NAV BARS */
    nav#main-nav {
        display:none;
    }

    nav#sub-nav {
        grid-template-columns: auto 1fr auto;
        grid-gap:32px;
    }

    nav#sub-nav .search{display:none;}

    nav#sub-nav .nav-left, nav#sub-nav .nav-right {
        display:flex;
        gap:16px;
    }

    nav#sub-nav > div {grid-template-columns: auto 1fr auto;}

    nav#sub-nav .logo {
        width:100%;
        display:flex;
        justify-content: center;
        order:1;
    }

    nav#sub-nav .nav-icons {order:0;}
    nav#sub-nav .lang {order:2;}
    nav#sub-nav .nav-icons > div, nav#sub-nav .lang > div {height:32px;width:32px;}
    nav#sub-nav .nav-icons > div:first-child,nav#sub-nav .nav-icons > div:last-child {display:none;}
    


    /* FOOTER */

    footer {padding:24px;}
    footer > div {gap:32px;}
    footer .link-farm {grid-template-columns: 1fr;}

    footer .soc {width:auto;}
    
    footer .link-farm .lists {
        grid-template-columns: repeat(2,1fr);
    }

    footer .link-farm .link-list:last-child {
        display:none;
    }

    footer .social  {margin-bottom:32px;}

    footer .social ul {
        flex-direction: row;
    }

    footer .link-help ul {
        display:grid;
        grid-template-columns: 1fr 1fr;
    }

}

/* MOBILE */
@media only screen and (max-width: 480px) {

    :root {

        --heading-xxxs: 1.0rem;
        --heading-xxs: 1.1rem;
        --heading-xs: 1.2rem;
        --heading-sm: 1.6rem;
        --heading-md: 2.0rem;
        --heading-lg: 2.4rem;
        --heading-xl: 2.8rem;
        --heading-xxl: 3.2rem;
        --heading-xxxl: 3.6rem;

        --type-xxs: 1.0rem;
        --type-xs: 1.1rem;
        --type-sm: 1.4rem;
        --type-base: 1.6rem;
        --type-lg: 1.8rem;

        --eyebrow-sm: 1.2rem;
        --eyebrow-md: 1.4rem;
        --eyebrow-lg: 1.6rem; 
        --eyebrow-xl: 2.0rem;
        --eyebrow-xxl: 2.2rem;
        --eyebrow-xxxl: 2.4rem;

        --type-legal: 1.1rem;

    }
    
    .flex.xl, .grid.xl {gap:48px;}
    .flex.lg, .grid.lg {gap:24px;}
    .flex.md, .grid.md {gap:16px;}

    .flex.center-m {justify-content: center;}

    /* HIDE COMPONENTS */
    .mb-hide {display:none!important;}
    
    /* MAIN */
    .max-width-background .container {padding-left:24px;padding-right:24px;}
    .max-width-background .container.bleed {padding-left:0;padding-right:0;}

    /* FOOTER */
    footer .social ul {
        justify-content: space-between;
    }

}