
/* STRUCTURE *********/

.nutrition-details {
    overflow:hidden;
    transition:500ms;
    margin-top:0px;
}

.nutrition-static .nutrition-label, .nutrition-carousel .nutrition-label {
    margin:0;
}

.nutrition-carousel {
    overflow-x: auto;
    overflow-y: auto;
}

.nutrition-carousel .carousel-container {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    width:250%;
    gap:24px
}

.nutrition-details .nutrition-label, .nutrition-label  {
    padding:8px;
    background-color:#fff;
    border:1px solid var(--gray-800);
    
}

.nutrition-label {
    margin-top:24px;
}

.nutrition-label .col {
    display: grid;
    grid-template-columns: 1fr auto;
}

.nutrition-label hr {
    background-color: var(--gray-800);
    border:none;
    margin:2px 0;
}

.nutrition-label .header {
    margin-bottom: 4px;
    display:block;
}

.nutrition-label .section > div {
    display:grid;
    grid-template-columns: 1fr auto;
    gap:8px;
    padding:4px 0;
}

.nutrition-label .section > div + div {
    border-top:1px solid var(--gray-400);
}

.nutrition-label .section.main {
    border-top: 8px solid var(--gray-800);
}

.nutrition-label .section.sub {
    border-top: 4px solid var(--gray-800);
}

.nutrition-label .section > div > div:last-child {
    font-weight: 800;
}


.nutrition-label div > div {
    padding-left:8px;
    
}

.nutrition-label div > .col, .nutrition-label div > div + h5 {
    border-top:1px solid var(--gray-400);
    padding-top:2px;
    padding-bottom:2px;
}

.nutrition-label div > .col p:first-child {
    color:var(--gray-600);
}


/* TEXT *********/

.nutrition-label {
    font-size: var(--type-xs);
    color:var(--gray-800);
}

.nutrition-label h3, .nutrition-label h5 {
    margin-bottom:0px;
}

.nutrition-label h5 {
    font-size: 0.7rem;
    margin-bottom:2px;
}

.nutrition-label p {
    font-size: var(--type-xs);
    margin:0;
}

.mar-b-xxs {
    margin-bottom:4px;
}

.nutrition-label p.legal {
    margin-top:0;
}

.nutrition-label .price p{
    font-size:var(--type-base);
    font-weight:700;
}

.nutrition-label a {
    color:var(--cobalt-600);
    font-weight:400;
    text-decoration: underline;
    transition: all 500ms;
    white-space: nowrap;
}

.nutrition-label a:hover {
    text-decoration: none;
}



.nutrition-label .close {
    position:absolute;
    right:-16px;
    top:-16px;
}

.nutrition-label .close svg {
    width:16px;
    height:16px;
    fill:var(--gray-800);
}



/* ACCORDION **************/
.nutrition-label-accordion {
    display:grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    border-top:1px solid var(--gray-300);
    padding-top:16px;
    margin-top:16px;
    transition:500ms;
}

.nutrition-label-accordion.full-card {
    margin-top:0;
}

.nutrition-label-accordion .label {
    font-size:var(--type-xs);
    font-weight:700;
    color: var(--gray-500);
    display: flex;
}

.nutrition-label-accordion.active .label {
    color: var(--gray-800);
    transition:500ms;
}

.nutrition-label-accordion .label div:last-child {
    color: var(--cobalt-400);
    font-size:var(--type-xs);
    font-weight:400;
    transition:500ms;
    margin-left:16px;
    display: flex;
    align-items: center;
}

.nutrition-label-accordion .label svg {
    width:16px;
    height:16px;
    fill:var(--cobalt-400);
    margin-right:4px;
}

.nutrition-label-accordion .carat {
    transform: rotateZ(0);
    transition:500ms;
}

.nutrition-label-accordion.active .carat {
    transform: rotateZ(180deg);
}


.nutrition-label-accordion .carat svg {
    width:16px;
    height:16px;
    fill:var(--gray-800);
}

.nutrition-label-accordion.inactive {
    pointer-events: none;
}

.nutrition-label-accordion.inactive .label {
    color:var(--gray-400);
}

.nutrition-label-accordion.inactive .carat svg {
    fill:var(--gray-400);
}

/* FULL CARD VERSION */

.nutrition-label-accordion.full-card {
    border-top:none;
    padding-top:0px;
}

.nutrition-label-accordion.full-card .label {
    font-size:var(--heading-xs);
    font-weight:700;
    color:var(--gray-800);
}



/* FULL ************/
.drawer.full .nutrition-label {
    padding:0px;
    background-color:transparent;
    border:none;
    border-radius:0;
}